@model CarRentalWebApp.Models.Car

@{
    ViewData["Title"] = "Car Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.carid)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.carid)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.carmodel)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.carmodel)
        </dd>

        <!-- Include other fields similarly -->

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.fueltype)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.fueltype)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.mileage)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.mileage)
        </dd>
         <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.noofdoors)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.noofdoors)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.geartype)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.geartype)
        </dd>
         <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.rentalpriceperday)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.rentalpriceperday)
        </dd>
          <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.insuranceamount)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.insuranceamount)
        </dd>
          <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.caravailability)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.caravailability)
        </dd>

        <!-- Continue listing other properties like insuranceamount, noofdoors, etc. -->
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.carid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
